<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  
    <!-- Glidejs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css" />
  
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
  
    <title>FASHION & TREND</title>  
</head>
<body>
    <header id="header" class="header">
        <!-- Navigation -->
        <div class="navigation">
          <div class="container">
            <nav class="nav__center">
              <div class="nav__header">
                <div class="nav__logo">
                  <h1>FASHION<span>TREND</span></h1>
                </div>
    
                <div class="nav__hamburger">
                  <span>
                  </span>
                </div>
              </div>
    
              <div class="nav__menu">
                <div class="menu__top">
                  <h1 class="nav__category">FASHION<span>TREND</span></h1>
                  <div class="close__toggle">
                  </div>
                </div>
                <ul class="nav__list">
                  <li class="nav__item">
                    <a href="/" class="nav__link scroll-link">Home</a>
                  </li>
    
                  <li class="nav__item">
                    <a href="#featured" class="nav__link scroll-link">Featured</a>
                  </li>
    
                  <li class="nav__item">
                    <a href="#blog" class="nav__link scroll-link">Blog</a>
                  </li>
    
                  <li class="nav__item">
                    <a href="#newsletter" class="nav__link scroll-link">Subscribe</a>
                  </li>
    
                  <li class="nav__item">
                    <a href="login.html" class="nav__link">Login</a>
                  </li>
    
                  <li class="nav__item">
                    <a href="#" class="nav__link">Cart<span>0</span></a> 
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
         <!-- Hero -->
    <div class="hero">
        <div class="hero__content container">
          <h1>
            <span>Sale <span class="color">50%</span> your first shopping
              with</span>
            <span>FASHION<span class="color">TREND</span> online shop</span>
          </h1>
          <a href="#" class="btn btn-hero">shop now</a>
        </div>
  
        <a href="#new__arrival" class="goto__next scroll-link">
          <span>
            <svg>
              <use xlink:href="./images/sprite.svg#icon-angle-down"></use>
            </svg>
          </span>
        </a>
      </div>
    </header>


    <div class="products-container">
        <div class="product-header">
            <h5 class="product-title">PRODUCT</h5>
            <h5 class="price">PRICE</h5>
            <h5 class="quantity">QUANTITY</h5>
            <h5 class="total">TOTAL</h5>
        </div>
        <div class="products">

        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>

    <!-- Custom Script -->
    <script src="./js/slider.js"></script>
    <script src="./js/index.js"></script>
  
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>
</html>