<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap" rel="stylesheet">

  <!-- Glidejs -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css" />

  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="css/styles.css" type="text/css"/>

  <title>FASHION & TREND</title>
</head>
<body>
  <!-- 
        ========================
        Header
        ========================
     -->
  <header id="header" class="header">
    <!-- Navigation -->
    <div class="navigation">
      <div class="container">
        <nav class="nav__center">
          <div class="nav__header">
            <div class="nav__logo">
              <h1>FASHION<span>TREND</span></h1>
            </div>

            <div class="nav__hamburger">
              <span>
              </span>
            </div>
          </div>

          <div class="nav__menu">
            <div class="menu__top">
              <h1 class="nav__category">FASHION<span>TREND</span></h1>
              <div class="close__toggle">

              </div>
            </div>
            <ul class="nav__list">
              <li class="nav__item">
                <a href="/" class="nav__link scroll-link">Home</a>
              </li>

              <li class="nav__item">
                <a href="#featured" class="nav__link scroll-link">Featured</a>
              </li>

              <li class="nav__item">
                <a href="#blog" class="nav__link scroll-link">Blog</a>
              </li>

              <li class="nav__item">
                <a href="#newsletter" class="nav__link scroll-link">Subscribe</a>
              </li>

              <li class="nav__item">
                <a href="/users/login" class="nav__link">Login</a>
              </li>
              <li class="nav__item">
                <a href="/users/register" class="nav__link">Register</a>
              </li>
              <li class="nav__item">
                <a href="/users/cart" class="nav__link">Cart<span>0</span></a> 
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <!-- Hero -->
    <div class="hero">
      <div class="hero__content container">
        <h1>
          <span>Sale <span class="color">50%</span> your first shopping
            with</span>
          <span>FASHION<span class="color">TREND</span> online shop</span>
        </h1>
        <a href="#" class="btn btn-hero">shop now</a>
      </div>

      <a href="#new__arrival" class="goto__next scroll-link">
        <span>
          <svg>
            <use xlink:href="./images/sprite.svg#icon-angle-down"></use>
          </svg>
        </span>
      </a>
    </div>
  </header>

  <!-- Main -->
  <main>
    <!-- New Arrival -->
    <section class="section new__arrival" id="new__arrival">
      <div class="arrivals container">
        <div class="title">
          <h1 class="primary__title">New Arrival</h1>
        </div>
        <div class="arrival__center">

          <div class="product">
            <div class="img__container">
              <img src="./images/pic1.png" alt="thsirt1" />
            </div>
            <div class="product__bottom">
              <h3>T Shirt 1</h3>
              <h3>$15</h3>
              <a class="add-cart cart1" href="#">Add To Cart</a>
            </div>
          </div>

          <div class="product">
            <div class="img__container">
              <img src="./images/pic2.png" alt="thsirt1" />
            </div>
            <div class="product__bottom">
              <h3>T Shirt 2</h3>
              <h3>$20</h3>
              <a class="add-cart cart2" href="#">Add To Cart</a>
            </div>
          </div>

          <div class="product">
            <div class="img__container">
              <img src="./images/pic3.png" alt="thsirt1" />
            </div>
            <div class="product__bottom">
              <h3>T Shirt 3</h3>
              <h3>$15</h3>
              <a class="add-cart cart3" href="#">Add To Cart</a>
            </div>
          </div>
          
          <div class="product">
            <div class="img__container">
              <img src="./images/pic7.png" alt="thsirt1" />
            </div>
            <div class="product__bottom">
              <h3>T Shirt 4</h3>
              <h3>$20</h3>
              <a class="add-cart cart4" href="#">Add To Cart</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer" class="section footer">
      <div class="container">
        <div class="footer__top">
          <div class="footer-top__box">
            <h3>EXTRAS</h3>
            <a href="#">Brands</a>
            <a href="#">Gift Certificates</a>
            <a href="#">Affiliate</a>
            <a href="#">Specials</a>
            <a href="#">Site Map</a>
          </div>
          <div class="footer-top__box">
            <h3>INFORMATION</h3>
            <a href="#">About Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
            <a href="#">Site Map</a>
          </div>
          <div class="footer-top__box">
            <h3>MY ACCOUNT</h3>
            <a href="#">My Account</a>
            <a href="#">Order History</a>
            <a href="#">Wish List</a>
            <a href="#">Newsletter</a>
            <a href="#">Returns</a>
          </div>
          <div class="footer-top__box">
            <h3>CONTACT US</h3>
            <div>
              HCMUTE University
            </div>
            <div>
             17110048@gmail.com
            </div>
            <div>
              456-456-4512
            </div>
            <div>
              HCM City
            </div>
          </div>
        </div>
      </div>
      </div>
    </footer>
    <!-- End Footer -->
  </main>

  <!-- Glidejs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>

  <!-- Custom Script -->
  <script src="./js/slider.js"></script>
  <script src="./js/index.js"></script>

  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>

</html>